// Typographie
p, a{font-family: $roboto;}
h1, h2, h3, h4{font-family: $poppins;}
h1{font-size:50px !important;color:$primary !important;margin-top:30px !important;}
h2{font-size:40px;color:$primary;}
h3{font-size:30px;}
h4{font-size:24px;}
p, span{font-size:18px;}

// Background
.primary-background{background:$primary;}
.secondary-background{background:$secondary;}
.bg{background:#45718a;}

// Color
.primary-color{color:$primary;}
.secondary-color{color:$secondary;}

// Boutons principal
button.primary, a.primary{
  display:inline-block;
  font-size: 14px;
  color: #fff !important;
  background: $primary;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid $primary;
  transition: all 0.4s;
  &:hover{
    color: $primary !important;
    text-decoration: none;
    background: #fff !important;
    transition: all 0.3s !important;
  }
}

button.primary-inverse, a.primary-inverse{
    display:inline-block;
    font-size: 14px;
    color: $primary !important;
    background: #fff !important;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid $primary;
    transition: all 0.4s;
  &:hover{
    color: #fff !important;
    background: $primary !important;
    text-decoration: none;
    transition: all 0.3s !important;
  }
}

// Bouton secondaire
button.secondary, a.secondary{
  display: inline-block;
  font-size: 14px;
  color: #fff !important;
  background: $secondary;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid $secondary;
  transition: all 0.4s;
  &:hover{
    color: $secondary !important;
    text-decoration: none;
    background: #fff !important;
    transition: all 0.3s !important;
  }
}

button.secondary-inverse, a.secondary-inverse{
    display: inline-block;
    font-size: 14px;
    color: $secondary !important;
    background: #fff !important;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid $secondary;
    transition: all 0.4s;
    &:hover{
        color: #fff !important;
        background: $secondary !important;
        text-decoration: none;
        transition: all 0.3s !important;
  }
}

// Parallax
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
