// Navbar header
.navbar-fixed-top{padding:10px 0;}
.navbar-header{
    a.logo{
        display: inline-block;
        padding: 0;
        margin: 0;
        img{
            width:50%;
        }
    }
}
#navbar{
    i{font-size: 18px !important;}
    .w40{width:40%;}
    // li{margin-right:1%;}
    a{padding: 16px 22px;margin-right:1%;}
}
.nav-login{
    margin-left:60px;
    input{
        &:first-child{margin-bottom: 1%;}
    }
}

// Home
#bandeau{
    background-position: center;
    padding: 50px 0;
}

.container-description {
    padding: 5% 0 3% 0;
    color: #717C8B;
    font-style: italic;
}

#cours{
    i {
        font-size: 26px !important;
        padding: 10px 6px;
    }
}

#cart.active {background:$secondary !important;color:#fff !important;}

#home-premium{
  padding: 5% 0;
}

// Login
#login{
    margin-top: 120px;
    padding-bottom: 50px;
    #inputEmail{
        margin: 20px 0 15px 0;
    }
    .fleft{float:left;}
    .fright{float:right;}
    .validation{margin-top:5%;}
    button.primary, a.secondary {width:100%;text-align: center;}
}

.page-wrapper{
    margin-top: 55px;
}

#profile{
    padding: 20px 0 50px 0;
    .fright{float: right};
}

#password {
    padding: 20px 0 50px 0;
}

// Footer
footer{
    padding:50px 0;
    span{
        margin-bottom: 12px;
        display: inline-block;
    }
    ul{
        padding:0;
        list-style-type: none;
    }
    #footer-contact{
        span, a{color:#fff;}
    }
    #footer-info{
        span, a{color:#fff;}
    }
    #footer-help{
        span, a{color:#fff;}
    }
    i.fa {
        font-size: 30px;
        margin-top: 10px;
        margin-right: 10px;
    }
    a#facebook{
        transition: all 0.4s;
        &:hover{
            color:#3a5b93;
            transition:all 0.3s;
        }
    }
    a#twitter{
        transition: all 0.4s;
        &:hover{
            color:#0fcdfb;
            transition:all 0.3s;
        }
    }
}

// Lesson
#lesson{
    .items{
        .item{
            border:1px solid #000;
            margin-bottom:10px;
            padding:30px;
            img{width: 100%;}
            .description{
                margin-top: 20px;
                a{float:right;}
            }
        }
    }
}

#detail-lesson{
    margin:120px auto 30px auto;
    border:1px solid #000;
    padding:12px;
    img{width:100%;}
    /* a{float:right;} */
    .share{text-align: right;}
    .access{text-align: center;}
}

.contentTitle{
    font-size: 25px;
}
