// Footer
footer{
    padding:50px 0;
    span{
        margin-bottom: 12px;
        display: inline-block;
    }
    ul{
        padding:0;
        list-style-type: none;
    }
    #footer-contact{
        span, a{color:#fff;}
    }
    #footer-info{
        span, a{color:#fff;}
    }
    #footer-help{
        span, a{color:#fff;}
    }
    i.fa {
        font-size: 30px;
        margin-top: 10px;
        margin-right: 10px;
    }
    a#facebook{
        transition: all 0.4s;
        &:hover{
            color:#A2AF45;
            transition:all 0.3s;
        }
    }
    a#twitter{
        transition: all 0.4s;
        &:hover{
            color:#A2AF45;
            transition:all 0.3s;
        }
    }
}
