// Typography
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

// Colors
$teal          : #045e78;
$darkslategrey : #324957;
$slategrey     : #707c8a;
$steelblue     : #45718a;
$yellowgreen   : #a2af45;

// Variable css
$primary : $teal;
$secondary : $yellowgreen;
